.alert {
    width: 50%;
    padding: 10px;
    border-radius: 4px;

    &-danger {
        background-color: rgb(277, 48, 48, .6);
    }

    &-success{
        width: 100%;
        margin: 20px auto;
        text-align: center;
        padding: 16px;
        font-size: 1.6rem;
        background-color: rgba(2, 46, 2, .6);
    }
}