@use 'mixins' as *;

.container {
    padding: 10px;

    @include md {
        width: 760px;
        margin: 0 auto;
    }

    @include lg {
        width: 1160px;
    }
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include md {
        flex-direction: row;
    }
}

.col {
    width: 100%;
    padding: 20px;

    &-md50 {
        @include md {
            flex: 0 0 50%;
        }
    }
    
    &-md33 {
        @include md {
            flex: 0 0 33.333333%;
        }
    }
    
    &-md25 {
        @include md {
            flex: 0 0 25%;
        }
    }
    
    &-lg50 {
        @include lg {
            flex: 0 0 50%;
        }
    }
    
    &-lg33 {
        @include lg {
            flex: 0 0 33.333333%;
        }
    }
    
    &-lg25 {
        @include lg {
            flex: 0 0 25%;
        }
    }
}