section {
    min-height: 100vh;
    
    h2 {
        text-align: center;
        margin: 30px 0;
        font-weight: bold;
        font-size: 3.6rem;
      }
    
    h3 {
        font-weight: bold;
        font-size: 3rem;
    }
    
    p {
        font-size: 1.6rem;
        padding: 20px 0;
    }
}