.menu-box {
    box-shadow: 0 0 10px gray;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 20px gray;
    }
}

.picture {
    height: 160px;
    background: url('../assets/img/bg_header.webp') center/cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.text {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}