.menu-box {
    box-shadow: 0 0 10px gray;
    border-radius: 6px;
    cursor: pointer;
    opacity: .8;
    transition: .5s;

    &:hover {
        box-shadow: 0 0 20px gray;
        opacity: 1;
    }
}

.picture {
    height: 160px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

// .picture1 {
//     background: url('../assets/img/pizza1.webp') center/cover;
// }

@for $i from 1 through 4 {
    .picture#{$i} {
        background: url('../assets/img/pizza#{$i}.webp') center/cover;
    }
}

.text {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}