@use 'variables' as *;
@use 'mixins' as *;

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: $color-bg-nav;
    color: #fff;
    font-size: 2.2rem;
    z-index: 2;

    .material-icons {
        cursor: pointer;
    }

}

.logo {
    flex-basis: 50%;
    padding-left: 30px;
}

.menu {
    flex-basis: 50%;
    text-align: right;
    padding-right: 30px;

    span {
        font-size: 3.6rem;
    }
}

.div-menu {
    background-color: rgba(0, 0, 0, 0.68);
    color: #fff;
    width: 100%;
    @include lg {
        width: 25%;
    }
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;


li {
    padding: 20px;
    text-align: center;
}

.material-icons {
    color: inherit;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 40px;
    cursor: pointer;
}
}

.hide-menu {
    display: none;
}


