@use 'reset';

html {
    font-size: 10px;
}

body {
    font-family: "Lato", sans-serif;
}

header {
    height: 100vh;
    background: url('../assets/img/bg_header.webp') center/cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 3.8rem;
        font-weight: bold;
    }
}
